In [2]:
import pandas as pd
sales_data = [
    [1, 'P01', 'North', 100],
    [2, 'P02', 'North', 150],
    [3, 'P01', 'South', 200],
    [4, 'P03', 'East', 80],
    [5, 'P02', 'South', 120],
    [6, 'P01', 'East', 90],
    [7, 'P03', 'North', 110]
]

product_data = [
    ['P01', 'Laptop'],
    ['P02', 'Smartphone'],
    ['P03', 'Tablet']
]

In [3]:
sales_df = pd.DataFrame(sales_data, columns=['TransactionID', 'ProductID', 'Region', 'UnitsSold'])
product_df = pd.DataFrame(product_data, columns=['ProductID', 'ProductName'])
print(sales_df)
print(product_df)

   TransactionID ProductID Region  UnitsSold
0              1       P01  North        100
1              2       P02  North        150
2              3       P01  South        200
3              4       P03   East         80
4              5       P02  South        120
5              6       P01   East         90
6              7       P03  North        110
  ProductID ProductName
0       P01      Laptop
1       P02  Smartphone
2       P03      Tablet

In [4]:
merged_df = pd.merge(sales_df, product_df, on='ProductID', how='left')
print(merged_df)

   TransactionID ProductID Region  UnitsSold ProductName
0              1       P01  North        100      Laptop
1              2       P02  North        150  Smartphone
2              3       P01  South        200      Laptop
3              4       P03   East         80      Tablet
4              5       P02  South        120  Smartphone
5              6       P01   East         90      Laptop
6              7       P03  North        110      Tablet

In [5]:
total_units = merged_df.groupby(['ProductName'])['UnitsSold'].sum().reset_index(name='TotalUnitsSold')
print(total_units)

  ProductName  TotalUnitsSold
0      Laptop             390
1  Smartphone             270
2      Tablet             190

In [6]:
# Filter high selling products (threshold)
# Implement a method:
# def filter_high_selling_products(self, merged_df, threshold):
# Returns only products where 'UnitsSold' > threshold.

merged_df = merged_df[merged_df['UnitsSold'] > 100]
merged_df

   TransactionID ProductID Region  UnitsSold ProductName
1              2       P02  North        150  Smartphone
2              3       P01  South        200      Laptop
4              5       P02  South        120  Smartphone
6              7       P03  North        110      Tablet

In [23]:
# 6. Most Popular Product by Region
# Implement a method:
# def most_popular_product_by_region(self, merged_df):
# Returns a DataFrame of the most sold product (by UnitsSold) per Region with columns:
# 'Region'
# 'ProductName'
# 'Total Units Sold'

merged_df = merged_df.sort_values(by='UnitsSold', ascending=False)
sorted_df = merged_df.groupby(['Region', 'ProductName'])['UnitsSold'].sum().reset_index(name='Total Units Sold')
maxx_idx = sorted_df.groupby(['Region'])['Total Units Sold'].idxmax()
result = sorted_df.loc[maxx_idx].reset_index(drop=True)
result

  Region ProductName  Total Units Sold
0  North  Smartphone               150
1  South      Laptop               200